*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(93, 93, 93);
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(84, 84, 84);
    padding: 0;
    margin: 0;
    width: 100%;
}

.titulo{
    display: flex;
    position: relative;
    top: 15px;
}

nav{
    background-color: rgb(84, 84, 84);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: center;
    padding: 1px;
    color: #545454;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #3ea7f2;
    transition: .1s;
}

.checkbtn{
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        display: none;
}

#check{
    display: none;
}


.logo{
    width: 50px;
    position: relative;
    left: 15px;
}
.header{
    padding: 0;
    margin: 0;
}

.link-logo{
    display: inline-block;
    position: relative;
    top: 5px;
    left: 15px;
    background-color: rgb(84, 84, 84);
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}



@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 19px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: rgb(84, 84, 84);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
    background-color: #2b2b2b;
    padding: 10px;
    margin: 20px 20%;
    position: relative;
    bottom: 50px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background-color: rgb(84, 84, 84);
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    .banner .btnServices{
        /*margin-top: 3rem;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.3rem;*/
    }
}